* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    padding: 1em;
    width:100%;
    background-color: #5fb0a2;
    min-height: 100svh;
}

.addSearch {
    min-width: 310px;
    margin-bottom: .7em;

    >div {
        margin: 0 auto;
        max-width: 700px;
        padding: .7em;
        border-radius: .6em;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px 1px #5fb0a2a4;

        form:nth-child(1) {
            width: fit-content;
            margin: 0 auto;
            padding-bottom: .7em;

        }


    }
}

.logForm {
    width: 100%;
    padding: .7em;
    border-top: 1px solid black;

    >div:nth-child(1 of div) {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: .5em;

        div {
            min-width: 100px;
            flex: 1 1 20%;
            display: flex;
            flex-flow: column;

            label {
                padding: .3em;
                text-align: center;
            }

            input {
                width: 100%;
                text-align: center;
                padding: .1em;
                height: 1.5rem;
            }
        }
    }

    >div:nth-child(2 of div) {

        div {
            display: flex;
            flex-flow: column;
            flex: 1;

            label {
                padding: .3em;
                text-align: center;


            }

            textarea {
                padding: .1em;
                resize: vertical;
            }

            button {
                margin-top: .7em;
                padding: .3em;
            }
        }

    }
}

.logEntryContainer {
    min-width: 310px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    width: 100%;

    .logItem {
        max-width: 700px;
        width: 100%;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5), inset 0 0 10px 1px rgba(255, 255, 255, 0.5);
        border-radius: .5rem;
        padding: .5em;

        .details {
            display: flex;
            flex-flow: row nowrap;


            >div:nth-child(1 of div) {
                width: 100%;
                border-right: 1px solid black;

                p {
                    text-align: center;
                    padding: .2em;
                }

                p:nth-child(1 of p) {
                    font-weight: 800;
                }

                >div:nth-child(1 of div) {

                    display: flex;

                    div {
                        flex: 1 1;
                    }
                }

                >div:nth-child(2 of div) {
                    padding: .7em;
                    border-top: 1px solid black;
                    margin: 0 auto;
                }

            }

            >div:nth-child(2 of div) {
                
                display: flex;
                overflow: hidden;
                align-items: center;
                justify-content: center;
                border-radius: 0 .3em .3em 0;

                label{
                    height: 100%;
                    line-height: 89px;
                    padding: 1em;
                    
                    &:hover{
                        background-color: aqua;
                        filter: brightness(50%);
                        cursor: pointer;
                    }
                    
                }
            }
        }



        .editFormDisp {
            width: 100%;
            border-top: 1px solid black;
            display: none;

            input[type="radio"] {
                display: none;
            }

            form {
                border: none;
            }

            &:has(input[type="radio"]:checked) {
                display: block;
            }

            >div {
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            p {
                text-align: center;
            }
        }

    }
}